/*路径导航*/


/*员工信息样式*/

.work-style {
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 20px;
}

.work-close {
    color: #3977c4;
    float: right;
    margin-right: 5px;
}

.routenav_watchQuery {
    WIDTH: 63px;
    BACKGROUND: url(../images/index/search_b.png) no-repeat;
    FLOAT: right;
    HEIGHT: 22px;
    CURSOR: pointer;
    margin: 10px;
}

.routenav_watchQuery:hover {
    BACKGROUND: url(../images/index/search_r.png) no-repeat;
    HEIGHT: 22px;
    CURSOR: pointer;
    margin: 10px;
}

.route_serch_left {
    height: 22px;
    line-height: 22px;
    padding-left: 0px;
    float: left;
    display: inline;
    line-height: 22px;
    margin-top: 12px;
    margin-left: 5px;
}

.route_txt {
    float: left;
    display: block;
    width: 170px;
    height: 22px;
    line-height: 22px;
}

.route_star {
    background: url(../images/index/mainImage.png) no-repeat -4px -4px;
    width: 24px;
    height: 24px;
    display: block;
    border: none;
    cursor: pointer;
    margin-left: 2px;
    float: left;
}

.route_end {
    background: url(../images/index/mainImage.png) no-repeat -32px -4px;
    width: 24px;
    height: 24px;
    display: block;
    border: none;
    cursor: pointer;
    margin-left: 2px;
    float: left;
}

.route_point {
    background: url(../images/route/add-stop.png) no-repeat;
    width: 16px;
    height: 16px;
    display: block;
    border: none;
    cursor: pointer;
    margin-left: 2px;
    margin-top: 4px;
    float: left;
}


/*滚动条CSS_div*/

.route-content {
    width: 250px;
    /*height:485px;*/
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #e8ebef;
    margin-bottom: 10px;
    float: left;
    /*border-top: 1px solid #1BB0F5;*/
}

.route_list {
    float: left;
    /*width: 240px;*/
    width: 208px;
    height: 44px;
    /*line-height:35px;*/
    /*overflow:hidden;*/
    display: block;
    margin-bottom: 6px;
    /* background-color: #F5F5F5; */
    cursor: pointer;
    font-size: 12px;
    border-bottom: 1px dotted #e0e3ed;
}

.route_img {
    float: left;
    width: 26px;
    height: 26px;
}

.route_list:hover {
    background: #eee;
    /*border:1px solid #8fccff;*/
}

#measure .btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.4285;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: #66B3FF !important;
}

#analysis #analysisView {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.4285;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: #66B3FF !important;
}

#analysis #analysisTerrian {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.4285;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: #01B468 !important;
}

#analysis #analysisOther {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.4285;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: #F75000 !important;
}

#navHeader .btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.4285;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: #6fb3e0 !important;
}

#szz .btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.4285;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: #f0ad4e !important;
}

#navHeader .btn-info {
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
}

#navHeader .btn-warning {
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236;
}

#markCreate .btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.4285;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: #6fb3e0 !important;
}

#markCreate .btn-info {
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
}

#markDelete .btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.4285;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: #f0ad4e !important;
}

#markDelete .btn-warning {
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236;
}

#bookCreate .btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.4285;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: #6fb3e0 !important;
}

#bookCreate .btn-info {
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
}

#booklables .btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.4285;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: #f0ad4e !important;
}

#booklables .btn-warning {
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236;
}

#inputDraw {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.4285;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: #428bca !important;
}

#markDraw {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.4285;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: #428bca !important;
}

#markDraws {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.4285;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: #428bca !important;
}

#bookDraw {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.4285;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: #428bca !important;
}

.menu_toolline ul {
    margin-left: 0px;
}

.menu_tool ul {
    margin-left: 0px;
}

.statistics_tool ul {
    margin-left: 0px;
}

.spatialquery_menu_tool ul {
    margin-left: 0px;
}

.addressmatch_menu_tool ul {
    margin-left: 0px;
}

#point_subset {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

#mapKuang {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

input {
    padding: 0px !important;
}

select {
    padding: 0px !important;
}

.toolLength {
    margin-left: 10px;
    position: relative;
    top: -3px;
}

#ribbonPrePage {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: white !important;
    height: 26px;
    line-height: 14px;
    color: #333 !important;
    border: 1px solid #D5D5D5;
}

#ribbonNextPage {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    height: 26px;
    line-height: 14px;
    background-color: white !important;
    height: 26px;
    line-height: 14px;
    color: #333 !important;
    border: 1px solid #D5D5D5;
}

#maskPrePage {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    height: 26px;
    line-height: 14px;
    background-color: white !important;
    height: 26px;
    line-height: 14px;
    color: #333 !important;
    border: 1px solid #D5D5D5;
}

#maskNextPage {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: white !important;
    height: 26px;
    line-height: 14px;
    background-color: white !important;
    color: #333 !important;
    border: 1px solid #D5D5D5;
}

#addressfile_SearchType {
    visibility: visible !important;
}

.spatialquery_menu_tools {
    font-family: "宋体", arial;
    font-size: 13px;
    float: left;
    display: inline;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid #1BB0F5;
    width: 250px;
    margin-left: 2px;
    margin-top: 5px;
}

.spatialquery_viewlabels {
    width: 14px;
    height: 14px;
    float: left;
    margin-right: -8px;
    background: url(../images/index/indexImage.png) no-repeat -41px -133px;
}